/* fonts */
// TODO: load server fonts
// @import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Shadows+Into+Light');

/* animations */
@keyframes startFlames {
  0%   {transform: rotate(-5deg);}
  20%  {transform: rotate(3deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(5deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg) scaleY(1);}
}

/* Styles */
body {
  background-color: #DEBFEB;
}

.section-title {
  font-size: 50px;
  color: #63348B;
  text-transform: uppercase;
  text-align: center;
}

.responsive-video {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
}
.follow-cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  margin-left: -15px;
  margin-top: -45px;
  will-change: color,width,height,margin,transform,padding;
  transition: width .25s, margin .25s, color .25s, transform .05s, opacity .25s;
  svg {
    overflow: visible;
  }
  path {
    transition: fill .5s;
  }
  &.-move:not(.-flame) {
    path {
      fill: rgba(255,255,255,0);
    }
  }
  &.-visible:not(.-flame) {
    width: 35px;
    opacity: 1;
    margin-left: -12px;
    margin-top: -30px;
    &.-move {
      width: 50px;
      margin-left: -15px;
      margin-top: -45px;
    }
    path {
      fill: rgba(255,255,255,0);
    }
  }
  &.-flame {
    width: 50px;
    opacity: 1;
    path {
      transform-origin: left bottom;
      animation-name: startFlames;
      animation-duration:.25s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    path:nth-child(1) {
      animation-delay: -.5s;
    }
    path:nth-child(2) {
      animation-delay: -.25s;
    }
  }

  @media screen and (min-width: 1024px) {
    display: block;
  }
}